body {
  background: #000000;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
}

.overlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  /* background-color: rgba(0, 0, 0, 0.5); */
  z-index: 2;
}

.box {
  margin: 0;
  padding: 0;
}

img {
  border-radius: 50%;
  padding: 15px;
  width: 10%;
}


.profile-picture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  max-width: 300px;
}

.profiledata {
  padding: 20px;
}

.profile-name {
  color: gray;
  /* font-family: sans-serif; */
  text-align: center;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;
}

.profile-name2 {
  /* font-family: sans-serif; */
  text-align: center;
  font-size: 30px;
  padding: 5px;
  font-family: 'Kanit', sans-serif;

}

.profile-name3 {
  color: rgb(35, 190, 126);
  /* font-family: sans-serif; */
  text-align: center;
  font-size: 20px;
  font-family: 'Kanit', sans-serif;

}


.profile-name3 span {
  color: white;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;

}

.bottom-text {
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  font-size: 15px;
  font-family: 'Kanit', sans-serif;

}



a {
  text-decoration: none;
  color: white;
  transition: color 1s;
  font-family: 'Kanit', sans-serif;

}

.copyright {
  color: rgb(35, 190, 126);
  font-family: 'Kanit', sans-serif;
}

.profile-title {
  color: rgb(35, 190, 126);
  /* font-family: sans-serif; */
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  padding: 10px;
  font-family: 'Kanit', sans-serif;
  /* font-family: 'Press Start 2P', cursive; */
}

.profile-title span {
  color: white;
  font-weight: 700;
  font-family: 'Kanit', sans-serif;
  /* font-family: 'Press Start 2P', cursive; */
}